<section class="marginmargin">
    <div class="d-flex justify-content-center align-items-center flex-column-reverse flex-lg-row ">
          <div class="hero-content ms-5 col-sm-12 col-lg-5 text-center text-lg-center mt-3 ">
       <h2 class="my-2">Enjoy Now</h2>
            <p class="lineheight">
          Explore our latest arrivals and delight in an exclusive discount of up to 20% on our entire new collection. Act now to enjoy these special offers!
        </p>
        <button class="my-2 border-0 bg-white py-2 px-2 text-center button"><h5>Shop Now</h5></button>
      </div>
      <div class="hero-image col-sm-12 col-lg-6 mb-5">
        <img [src]="imagePath" alt="Sample Image" class="img-fluid">
      </div>
    
    </div>
  </section>